<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar 6</title>
  <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <nav class="uikit-expand-nav">
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger"><div></div></div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="#" class="btn btn-2">Home</a></li>
              <li><a href="#" class="btn btn-2">About</a></li>
              <li><a href="#" class="btn btn-2">Services</a></li>
              <li><a href="#" class="btn btn-2">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="search-box">
      <input class="search-txt" type="text" placeholder="Search..." />
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </nav>
</body>
</html>