#uikit-footer-3 {
    background: $secondary-color;
    color: $secondary-text-color;

    .footer-top {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-gap: 2em;
        padding: 2em;

        h2 {
            color: $primary-text-color;
        }

        .f-col-1 {
            p {
                max-width: 35em;
                line-height: 23px;
                font-size: 0.9em;
            }
        }

        .f-col-2 {
            text-align: center;

            .nav-links {
                padding: 0;
                list-style: none;

                li {
                    display: block;
                    margin: 1em 0;

                    a {
                        text-transform: uppercase;
                        font-size: 1em;
                        font-weight: 600;
                        text-decoration: none;
                        color: $secondary-text-color;
                        letter-spacing: 1px;
                        transition: 0.3s;
    
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .f-col-3 {
            justify-self: end;

            p {
                max-width: 25em;
            }

            form {margin-top: 2em;}

            input {
                background: $secondary-b-color;
                width: 17em;
                height: 3em;
                padding: 0;
                padding-left: 0.6em;
                font-size: 1em;
                border: 0;
                color: $primary-text-color;
            }

            button {
                height: 3em;
                width: 3em;
                padding: 0 !important;
                margin: 0;
                transition: 0.4s;
                border: 0;
                background: $primary-color;
                cursor: pointer;
                font-size: 1em;
                color: $btn-text-color;

                &:hover {
                    background: darken($primary-color, 5%);
                    border: 0;
                }
            }
        }
    }
    .footer-bottom {
        background: $secondary-b-color;
        padding: 1em 2em;
        text-align: center;
        color: $secondary-text-color;
        font-size: 0.9em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 1000px) {
    #uikit-footer-3 {
        .footer-top {
            grid-template-columns: 1fr;
            text-align: center;

            .f-col-1, .f-col-3 {
                justify-self: center;
            }
            
            .f-col-1 h2 {
                margin-bottom: 1.5em;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    #uikit-footer-3 {
        font-size: 13px;

        .footer-top .f-col-3 form input {
            width: 10em;
        }
    }
}