<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cursor follow header</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  
  <header class="uikit-cursor-follow-header">
    <div class="box"></div>
    <div class="box-content">
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <a href="#" class="glow-btn">EXPLORE</a>
    </div> 
  </header>
  
  <script src="js/main.js"></script>
  <script>
    backgroundCursorFollow(15);
    //cursor movement sensitivity, 15 recomended
  </script>
</body>
</html>