#uikit-footer-1 {
    .footer-top {
        padding: 3em 2em;
        background: #3a3b3f;
        display: grid;
        justify-items: center;
        grid-gap: 2em;
        align-items: start;
        grid-template-columns: 3fr 2fr 2fr 3fr;
        color: #fff;
        position: relative;
        
        p {
            max-width: 20em;
            color: #c4c4c4;
            line-height: 27px;
        }
    
        .f-col-3 {
            .contact-info-item {
                margin-bottom: 1em;
                color: #c4c4c4;
            }
            .icon {
                font-size: 1.4em;
                display: inline-block;
                align-self: start;
            }
            span {
                margin-left: 0.6em;
                align-self: center;
            }
        }
    
        .f-col-1 {
            justify-self: start;
        }
        .f-col-4 {
            justify-self: end;
        }
    }
    .footer-bottom {
        background: darken(#3a3b3f, 15%);
        padding: 1em 2em;
        text-align: center;
        color: lighten(#3a3b3f, 20%);
        font-size: 0.9em;
        letter-spacing: 1px;
    }
}


@media screen and (max-width: 1050px) {
    #uikit-footer-1 {
        font-size: 14px;
    }
}


@media screen and (max-width: 900px) {
    #uikit-footer-1 {
        font-size: 16px;
        .footer-top {
            grid-template-columns: 1fr;
            text-align: center;
    
            .f-col-1, .f-col-4 {
                justify-self: center;
            }
        }
    }
}
   

@media screen and (max-width: 500px) {
    #footer-1 {
        font-size: 13px;
    }
    .footer-bottom {
        font-size: 12px;
        padding: 1em 2em;
    }
}