<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <title>Anim Counters 1</title>
</head>
<body>
    <div class="counters-section-space"><h1>Scroll Down ▼</h1></div>

    <!--Counter starts here-->
    <section class="uikit-counters uikit-counters-1">
        <div class="counter-container">
            <div>
                <i class="fab fa-youtube fa-4x"></i>
                <div class="counter" data-target="60000">0</div>
                <h3>Subscribers</h3>
            </div>
            <div>
                <i class="fab fa-twitter fa-4x"></i>
                <div class="counter" data-target="9000">0</div>
                <h3>Followers</h3>
            </div>
            <div>
                <i class="fab fa-facebook fa-4x"></i>
                <div class="counter" data-target="9000">0</div>
                <h3>Likes</h3>
            </div>
            <div>
                <i class="fab fa-linkedin fa-4x"></i>
                <div class="counter" data-target="6000">0</div>
                <h3>Connections</h3>
            </div>
        </div>
    </section>
    <!--Counter end-->

    <script src="js/main.js"></script>
</body>
</html>