<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Split Screen</title>
    <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    
    <section class="uikit-split-screen-1">
      <div class="layer right">
        <div class="content-wrap">
          <div class="content-body">
            <h1>Contact</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sunt
              rerum quo ad debitis soluta nulla atque porro accusamus vitae.
            </p>
          </div>
          <a href="#" class="btn">Message</a>
        </div>
      </div>

      <div class="layer left">
        <div class="content-wrap">
          <div class="content-body">
            <h1>John Doe</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sunt
              rerum quo ad debitis soluta nulla atque porro accusamus vitae.
            </p>
          </div>
          <img src="images/image1.jpg" alt="" />
          <div class="media-icons">
            <ul>
              <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitch"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="handle"></div>
    </section>

    <script src="js/main.js"></script>
  </body>
</html>
