<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About 3</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <section class="uikit-about-section-4">
        <div class="about-content">
            <div class="about-text">
                <h2>ABOUT ME</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, dignissimos.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae laboriosam minima dignissimos et corporis? Excepturi?</p>
            </div>
        </div>
        <div class="about-number">
            <h1>01</h1>
        </div>
    </section>
    
    <section class="uikit-about-section-4">
        <div class="about-content">
            <div class="about-text">
                <h2>ABOUT ME</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat, dignissimos.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae laboriosam minima dignissimos et corporis? Excepturi?</p>
            </div>
        </div>
        <div class="about-number">
            <h1>02</h1>
        </div>
    </section>
</body>
</html>