<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heading 7/8</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <!--Heading 7-->
  <section class="uikit-heading-7">
    <h1><span>1</span>Simple Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi incidunt laboriosam ducimus alias? Optio, quia molestiae quibusdam blanditiis voluptate cum laboriosam id quas saepe eaque?</p>
  </section>
  <!---->
  <div style="min-height: 5em;"></div>
  <!--Heading 8-->
  <section class="uikit-heading-8">
    <h1><sup>1</sup>Simple Heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi incidunt laboriosam ducimus alias? Optio, quia molestiae quibusdam blanditiis voluptate cum laboriosam id quas saepe eaque?</p>
  </section>
  <!---->

</body>
</html>