<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header4</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header class="uikit-header-4">
        <a class="brand" href="#"><h3>Logo</h3></a>
        <div class="header-text">
            <h1>Website Name</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, deserunt! Numquam officia eos excepturi veritatis!</p>
            <a href="#" class="main-btn">Get Started</a>
        </div>
            <div class="header-info">
                <div class="info-item">
                    <h4>Item-1</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="info-item">
                    <h4>Item-1</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="info-item">
                    <h4>Item-1</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
    </header>
</body>
</html>