<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <title>Testimonial Section 2</title>
</head>
<body>

    <section class="uikit-testimonials-2">
        <div class="t-slide-container">
            <div class="testimonial-slider">
                <div class="testimonial-slide">
                    <div class="testimonial-content1">
                        <div class="quotes"><i class="fas fa-quote-left fa-2x"></i></div>
                        <img src="https://picsum.photos/id/1003/100/100" alt="">
                        <h3>John <span>Doe</span></h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, placeat veritatis!
                            Deleniti itaque velit autem eos quaerat praesentium harum nulla!"</p>
                    </div>
                    <div class="testimonial-content2">
                        <div class="quotes"><i class="fas fa-quote-left fa-2x"></i></div>
                        <img src="https://picsum.photos/id/1002/100/100" alt="">
                        <h3>Jane <span>Doe</span></h3>
                        <p>"Aliquam quidem tempore, repellat perspiciatis, at in fugiat omnis adipisci ipsam obcaecati
                            optio, odit minus sapiente ex fugit!"</p>
                    </div>

                    <div class="testimonial-content3">
                        <div class="quotes"><i class="fas fa-quote-left fa-2x"></i></div>
                        <img src="https://picsum.photos/id/1005/100/100" alt="">
                        <h3>Jane <span>Doe</span></h3>
                        <p>"Dolore iusto nihil, ratione dolor voluptate non mollitia veritatis recusandae sequi quia eum
                            quaerat laudantium natus odit vero perspiciatis!"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>