<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title></head>
  <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="main.css">
<body>
  <!--Main navbar-->
  <nav class="uikit-navbar-5">
    <!--Brand, Logo, Website Name-->
    <h2>Logo</h2>
     <!--Navbar links-->
     <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <a class="icon" href="#"><i class="fas fa-sign-in-alt"></i></a>
    </ul>
    <!--Sign in button-->
    <a class="icon sign-in" href="#"><i class="fas fa-sign-in-alt"></i></a>
    <!--Hamburger menu button for small devices-->
    <div class="nav-menu-btn">
      <div class="icon"><i class="fas fa-bars"></i></div>
    </div>
  </nav>
  <script src="js/main.js"></script>
</body>
</html>