body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 360vh;
}
//Navbar styles start here
.uikit-navbar-5 {
	box-sizing: border-box;
	background: #fff;
	color: #4e5674;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	-webkit-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.2);
	box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;

	& * {
		box-sizing: border-box;
	}

	.icon {
		display: inline-block;
		margin: 0 0.4em;
		font-size: 1.1em;
		color: #fff;
		color: #4e5674;
		font-size: 1.5em;
		transform: translateY(0.1em);
	}

	h2 {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		align-self: center;
		
		li {
			display: inline-block;
			margin: 0 0.7em;
			a {
				color: #4e5674;
				text-decoration: none;
				font-weight: 600;
				letter-spacing: 1px;
				font-size: 1.1em;
			}
		}
	}
	.nav-5-active {
		height: initial;
	}
	.nav-menu-btn {
		display: none;
		cursor: pointer;
	}
	.nav-links {
		.icon {
			display: none;
		}
	}
	.sign-in {
		display: block;
	}
}
//Classes for js
.uikit-nav-5-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	animation: uiKitNavbar5fadeIn 0.4s ease-in;
}

@media screen and (max-width: 900px) {
	.uikit-navbar-5 {
		.nav-links {
			text-align: left;
			position: absolute;
			top: 3em;
			background: #fff;
			transition: 0.5s;
			left: 0;
			width: 100%;
			height: 0;
			overflow: hidden;
			padding: 0 1em;
			display: block;
			-webkit-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.2);
			-moz-box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.2);
			box-shadow: 0px 8px 22px -4px rgba(0,0,0,0.2);
			li {
				display: block;
				margin-bottom: 1em;
				&:nth-child(1) {
					margin-top: 1em;
				}
			}
			.search {
				display: block;
				margin-bottom: 1em;
			}
		}
		.nav-5-active {
			height: 13.5em;
		}
		.sign-in {
			display: none;
		}
		.nav-menu-btn {
			display: block;
		}
		.nav-links {
			.icon {
				display: block;
			}
		}
	}
}
@media screen and (min-width: 900px) {
	.uikit-navbar-5 {
		.nav-links {
			height: auto;
		}
	}
}
@media screen and (max-width: 410px) {
	.uikit-navbar-5 {
		font-size: 13px;
	}
}

@media screen and (max-height: 300px) {
	.uikit-navbar-5 .nav-5-active {
		height: 8em;
		overflow-y: scroll;
		padding: 1em;
	}
}

@keyframes uiKitNavbar5fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
