<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form 4</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <section class="uikit-form-5 signup">
    <div class="form-container">
      <h1>Sign Up</h1>
      <form autocomplete="off"><!--Removes default autocomplete feature-->
        <div class="group">
          <input type="text" class="field" name="name">
          <label class="label" for="name">Name</label>
        </div>
        <div class="group">
          <input type="email" class="field" name="email">
          <label class="label" for="email">Email</label>
        </div>
        <div class="group">
          <input type="password" class="field" name="name">
          <label class="label" for="password">Password</label>
        </div>
        <div class="group">
          <input type="password" class="field" name="name">
          <label class="label" for="password">Repeat Password</label>
        </div>
        <button class="submit-btn" name="submit" type="submit">Sign Up</button>
        <div class="form-link">
          <span>Already a member?</span> <a href="signin.html">Sign In</a>
        </div>
      </form>
    </div>
  </section>

  <script src="js/main.js"></script>
</body>
</html>