<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing Tables 1</title>
    <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <section class="uikit-pricing-tables-4">
      <div class="pricing-tables">
        <div class="table">
          <h1><i class="fas fa-pen"></i></h1>
          <h3>Basic</h3>
          <h1><sup>$</sup>40</h1>
          <h5>Monthly</h5>
          <ul class="features">
            <li><i class="fas fa-check"></i> Feature Name</li>
            <li><i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
          </ul>
          <a href="#" class="table-btn">Sign Up</a>
        </div>
        <div class="table table-main">
          <h1><i class="fas fa-pencil-ruler"></i></h1>
          <h3>Advanced</h3>
          <h1><sup>$</sup>50</h1>
          <h5>Monthly</h5>
          <ul class="features">
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
          </ul>
          <a href="#" class="table-btn">Sign Up</a>
        </div>
        <div class="table">
          <h1><i class="far fa-gem"></i></i></h1>
          <h3>Pro</h3>
          <h1><sup>$</sup>99</h1>
          <h5>Monthly</h5>
          <ul class="features">
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
            <li> <i class="fas fa-check"></i> Feature Name</li>
          </ul>
          <a href="#" class="table-btn">Sign Up</a>
        </div>
      </div>
    </section>
  </body>
</html>
