<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Form3</title>
</head>
<body>

    <section class="uikit-contact-form-3">
        <div class="form-container">
            <div class="formBx">
                <form>
                    <h2>Contact</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea type="text" name="" required="required"></textarea>
                        <span>Content</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" required="required" value="send">
                    </div>
                </form>
            </div>
            <div class="imgBox"><img src="https://picsum.photos/id/1033/600/800" alt=""></div>
        </div>
    </section>
   
</body>
</html>