<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Progress Circles 1</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="scroll-down-space"><h1>Scroll Down ▼</h1></div>
  <!--Progrss circles start here-->
  <section class="uikit-progress-circles-2">
    <div class="progress-container">
      <!--Circle-->
      <div class="progress-card">
        <div class="progress-circle">
          <div class="progress-content">
            <h5 class="progText" data-count="95">0</h5>
          </div>
          <div class="progress"></div>
        </div>
        <h5>HTML/CSS</h5>
      </div>
      <!--Circle-->
      <div class="progress-card">
        <div class="progress-circle">
          <div class="progress-content">
            <h5 class="progText" data-count="79">0</h5>
          </div>
          <div class="progress"></div>
        </div>
        <h5>JavaScript</h5>
      </div>
      <!--Circle-->
      <div class="progress-card">
        <div class="progress-circle">
          <div class="progress-content">
            <h5 class="progText" data-count="100">0</h5>
          </div>
          <div class="progress"></div>
        </div>
        <h5>WordPress</h5>
      </div>
      <!--Circle-->
      <div class="progress-card">
        <div class="progress-circle">
          <div class="progress-content">
            <h5 class="progText" data-count="50">0</h5>
          </div>
          <div class="progress"></div>
        </div>
        <h5>React</h5>
      </div>
    </div>
  </section>
  
  <script src="js/main.js"></script>
</body>
</html>