<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog posts 2</title>
  <script src="https://kit.fontawesome.com/ccbd4d6bc1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div class="blog-posts-2">
    <div class="blog-post">
      <img src="https://picsum.photos/id/890/700/700" alt="Blog Post Image">
      <div class="blog-post-content">
        <div class="categories">
          <a href="#">Nature</a>
          <a href="#">Travel</a>
        </div>
        <h2>Blog Post One</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio et vel animi dolorem blanditiis, minus temporibus non saepe cupiditate!</p>
        <a href="#" class="btn">Read More <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

    <!--Version 2-->
    <div class="blog-post post-2">
      <img src="https://picsum.photos/id/893/700/700" alt="Blog Post Image">
      <div class="blog-post-content">
        <div class="categories">
          <a href="#">Design</a>
          <a href="#">Architecture</a>
        </div>
        <h2>Blog Post Two</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio et vel animi dolorem blanditiis, minus temporibus non saepe cupiditate!</p>
        <a href="#" class="btn">Read More <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

     <!--Version 3-->
     <div class="blog-post">
      <img src="https://picsum.photos/id/894/700/700" alt="Blog Post Image">
      <div class="blog-post-content">
        <div class="categories">
          <a href="#">Nature</a>
          <a href="#">Travel</a>
        </div>
        <h2>Blog Post Three</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio et vel animi dolorem blanditiis, minus temporibus non saepe cupiditate!</p>
        <div class="blog-post-footer">
          <a href="#" class="btn">Read More <i class="fas fa-arrow-right"></i></a>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <!--Version 4 -->
    <div class="blog-post">
      <div class="blog-post-content">
        <div class="categories">
          <a href="#">Design</a>
          <a href="#">Architecture</a>
        </div>
        <h2>Blog Post Four</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio et vel animi dolorem blanditiis, minus temporibus non saepe cupiditate!</p>
        <div class="blog-post-footer">
          <a href="#" class="btn">Read More <i class="fas fa-arrow-right"></i></a>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
          </ul>
        </div>
      </div>
      <img src="https://picsum.photos/id/898/700/700" alt="Blog Post Image">
    </div>
  </div>
</body>
</html>